.sentencesListDiv{
    background-image: url('https://image.freepik.com/vector-gratis/discurso-burbujas-dibujado-mano-colorear_179234-216.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
}

.sentencesListH3{
    font-size: 50px;
    font-weight: bold;
    color: black;
    padding: 50px;
    margin: 0 0 80px;
    text-align: center;

}

.divTitleSentences{
    background-color: white;
}

.rowList{
    margin:0
}

.LinktoForm{
    text-align: end;
    padding: 20px 20px 0 0;
    font-size: 18px;
}