.mainDiv{
    margin-top: 100px;
}

.formSentence{
    width: 50%;
    margin:auto
}

.h2Form{
    text-align: center;
    margin-bottom: 80px;
}

.linkList{
    text-align: end;
    margin-bottom: 50px;
}