.completeCard{
    width: 80%;
    margin:50px auto;
    padding: 20px;
    border: black 1px dotted;
    transition: ease-in-out 0.6s;
}

.completeCard:hover{
    background-color: #fdc33cda;
}

.linkCard:hover{
    text-decoration-color: black
}

.titleCard, .descriptionCard, .nameCard{
    text-align: center;
    color: black;
}

.titleCard{
    font-size: 30px;
}

.descriptionCard{
    font-size: 22px;
}
